<div class="reset-pwd-container">
     
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-reset-pwd my-5">
        <div class="card-title text-center text-uppercase rounded"><h5>Reset Password</h5></div>
          <div class="card-body">
            
            <form class="form-reset-pwd" [formGroup]="resetpswdForm">
              
              
               <label>Password</label>               
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required style="padding-left: 10px;" [ngClass]="{ 'is-invalid': submitted &amp;&amp; resetpswdForm.controls.password.touched }" />
                      <div *ngIf="validate.password.invalid && validate.password.touched" class="alert alert-danger">
                        <div *ngIf="validate.password.errors.required">Password is required</div>
                        <div *ngIf="validate.password.errors.minlength">Must be at least 6 characters</div>
                      </div>
                <label for="inputPassword" style="padding-left: 10px;">Password</label>                
              </div>

              <label>Confirm Password</label>
               
              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password"
                formControlName="confirmpassword" required style="padding-left: 10px;" [ngClass]="{ 'is-invalid': submitted &amp;&amp; resetpswdForm.controls.confirmpassword.touched }" />
                  <div *ngIf="validate.confirmpassword.invalid && validate.confirmpassword.touched" class="alert alert-danger">
                      <div *ngIf="validate.confirmpassword.errors.required">Confirmpassword is required</div>
                      <div *ngIf="validate.confirmpassword.errors.mustMatch">Password and Confirmpassword must be match.</div>
                  </div>    
                <label for="inputConfirmPassword" style="padding-left: 10px;">Confirm password</label>
                
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1" >Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="Submit($event)" [disabled]="!resetpswdForm.valid">Submit</button>
              <div class="login">
					Get back to login <a routerLink="/login" routerLinkActive="">Login</a>
				</div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  
</div>
