<div class="login-container">
     
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-login my-5">
        <div class="card-title text-center text-uppercase rounded"><h5>Login</h5></div>
          <div class="card-body">
            
            <form class="form-login">
            <label>Email Address</label>
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail"></label>
              </div>
              
               <label>Password</label>
               <a routerLink="/forget-pwd" routerLinkActive="" style="float:right;font-size:12px;">Forgot password?</a>
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword"></label>
                
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
              <div class="register">
					Don't have an account? <a routerLink="/register" routerLinkActive="">Create One</a>
				</div>
                    <div class="reset-pwd">
					Want to reset password? <a routerLink="/reset-pwd" routerLinkActive="">Reset Password</a>
				</div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  
</div>
