<div class="cart-container">
  <section>
    <div class="row d-flex" >
      <div class="col-sm-7" *ngFor="let cart of cart_data">        
            <div class="row">
              <div class="col-sm">
                <div class="rounded">
                  <img class="img-fluid" style="width:300px; height:300px;"
                    src="{{cart.image_url}}">
                </div>
              </div>
              <div class="col-sm"> 
                <div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5>{{cart.p_name}}</h5>
                      <p></p>                      
                    </div>                    
                  </div>
                  <form [formGroup]="addToCartForm" novalidate> 
                    <div>
                      <label class="label" for="quantity" value="Quantity">Quantity :{{cart.quantity}} </label>
                      <input id="input" type="number" min="1" max="5" value=1> 
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <p><span><strong id="summary">Price {{cart.price}}</strong></span></p>
                    </div>
                    <div>
                      <button type="button" (click)="Remove(cart.product_id)" class="btn btn-danger small text-uppercase mr-3"><i class="fa fa-trash" aria-hidden="true"></i> Remove item </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>         
      </div> 
      
      <div class="col-sm-5">
        <div class="mb-3">
          <div class="pt-4">
            <h5 class="mb-3">Orders</h5>
            <ul class="list-group list-group-flush" *ngFor="let cart of cart_data">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                {{cart.p_name}}
                <span>Price {{cart.total_price}}</span>
              </li>
              <br>              
              <br>
            </ul>
            <form [formGroup]="addToCartForm" (click)="checkout()" novalidate>
              <button type="button" class="btn btn-primary btn-block">Proceed to checkout</button>
            </form>
          </div>
          <br>
          
        </div>
      </div>  
    </div>
  </section>
</div>





<!--<div class="front-class">
	<div class="fifth-class">

		<div class="d-flex row">

			<div class="col-sm-7 ">
				<h2> Your Shopping Cart </h2>
				<br>
				<h5 style="text-align: left; margin-left: 20px;">1 ITEMS</h5>
				<hr>
				<div class="item-content row" *ngFor="let cart of cartData">

					<div class="col-sm-4" >
					<img src="{{cart.image_url}}" alt="">
					</div>

					<div class="data col-sm-6 justify-content-between">
						<h6>{{cart.product_id}}
				 {{cart.p_name}}</h6>

						<p class="mb-3 text-muted text-uppercase small">Quantity: {{cart.quantity}}</p>
						<div class="quantity">
						<div class="quantity-input">

							  <input #qua class="quantity" min="1" name="quantity" value="{{cart.quantity}}" type="number">
							  
						</div>
						</div>
					
						<button class="btn btn-info" (click)="Remove($event, cart.product_id)">Remove</button>
				
					</div>
					<div class="col-sm-2">
						<h6> Rs. {{cart.price}}  </h6>
					</div>
				</div>

				<hr>

			</div>

			<div class="col-sm-5 "><br>
				<h5>ORDER SUMMERY</h5>
				<hr>
				<div class="summery-content" >
						
							<ul class="list-unstyled" *ngFor="let cart of cartData">
							<li class="d-flex justify-content-between">
							<p style="" class="mb-3 text-muted text-uppercase small">{{cart.p_name}} ( {{cart.quantity}} )</p>
							
							<p  style="" class="mb-3 text-muted text-uppercase small ">  {{cart.total_price}}</p></li><hr>
							<hr>
						</ul>
						
					<hr>
					<p style="float: left;" class="mb-3 mt-2 text-muted text-uppercase small font-weight-bold">Total amount: </p>
					<p style="float: right;" class="mb-3 mt-2 text-muted text-uppercase small font-weight-bold">  $53,98 </p>
					<br><br>
					<hr>
					<br>

					<button class="btn btn-success btn-dark" (click)="Checkout()">Proceed to Checkout</button>
				</div>
			</div>

		</div>
	</div>
</div>-->


