$laptop: 992px;
$tablet: 768px;
$mobile: 480px;

.cart-container {
     width: 80%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     justify-items: center;
     align-content: center;
     align-items: center;
     margin: auto;
     margin-top: 30px;
     
     input {
          width: 50px;
          border-color: #00DBD0;
          border-radius: 10px;
          height: 30px;
          text-align: center;
          margin-left: 15px;
     }
     label {
          font-size: 16px;     
          color: black;                         
     }
     img {
          width:300px; 
          height:300px;
     }
} 




