$laptop: 992px;
$tablet: 768px;
$mobile: 480px;
// * {
//      font: 'Roboto' !important;
//      margin: 0;
//      padding: 0;
//      box-sizing: border-box;
//      opacity: 1;
// }
.main-container {
     display: flex;   
     flex-direction: column;
     background: #FFFFFF;
     //background-size: cover; 
     .flex-item {
          position: relative;
          justify-content: center;
     }   
}
@media screen and (max-width: $mobile) {
     .main-container {
          width: 100%;
     }
}
.header-container {
     background: url("../assets/images/Rectangle1/Rectangle1@2x.png") 0% 0% no-repeat;
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     margin: auto;
     opacity: 1;
     background-size: cover;
     background-position: center top;
	flex: auto;
     z-index: 1;
     header {
          display: flex;
          height:  100px;
          justify-content: space-around;
          padding: 15px;
          width: 100%;
          nav {
               .nav-area {
                    display: flex;
                    margin-top: 15px;
                    margin-left: 0px;
                    .logo{
                         width: 150px;
                         height: 50px;
                         margin-left: 70px;
                    }
               }
          }         
          .nav-area-2 {
               display: flex;
               margin-right: 20px;
               margin-top: 15px;
               margin-bottom: 10px;
               float: right;
               align-self: right;
               .nav-link {
                    padding-right: .4rem !important;
                    padding-left: .4rem !important;
               }
          }
          .ml-auto {
               a {
                    text-align: center;
                    font: normal normal normal 16px/20px Libre Baskerville;
                    letter-spacing: 0px;
                    color: #374B5C;
                    opacity: 1;
                    margin-right: 20px;
                    margin-left: 20px;
                    padding-top: 10px;
               }
               a:active, a:hover {
                    border-bottom: 2px solid #00DBD0;
               }
               button, .btn{
                    border-radius: 5px;
                    border-color: #00DBD0;
                    text-align: center;
                    font: normal normal normal 16px/20px Libre Baskerville;
                    letter-spacing: 0px;
                    color: #374B5C;
                    opacity: 1;
               }
          }          
          input#menu {
               display: none;
          }
          label {
               margin-top: 20px;
               vertical-align: center;
               align-items: center;
               //font-family: 'Sedgwick Ave Display', cursive;
               //font-size: 10px;
               cursor: pointer;
               img {
                    margin-top: 5px;
                    margin-left: 7px;
                    width: 25px;
                    height: 25px;
               }     
          }
          .collaspe-icon {
               width: 25px;
               height: 25px;
          }
          .menu-content {
               background-color: white;
               max-height: 0;
               overflow: hidden;
               z-index: 2;
               font: normal normal 500 20px/30px Roboto;
               ul {
                    vertical-align: center;
                    text-align: center;
                    margin-left: 20px;
                    margin-right: 20px;
               }
               li, a {
                    color: #aba;
                    font: normal normal normal 14px/22px Libre Baskerville;
                    opacity: 1;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-top: 10px;
               }
               button {
                    border-radius: 16px;
                    padding: 6px;
                    font: normal normal normal 14px/22px Libre Baskerville;
               }
          }
          input:checked ~ .menu-content {
               max-height: 40%;
               // position: absolute; /
          }
          input:checked ~ .middle-img-class {
               display: none;
          }
          .menu-content a:hover, .menu-content a.focus {
               opacity: 0.6;
          }          
     }   
}
@media screen and (max-width: $mobile) {
     header {
          display: none;
          visibility: hidden;
     }     
}
@media screen and (min-width: $mobile) and (max-width: 550px) {
     header {
          display: none;
          visibility: hidden;
     }
}
@media screen and (min-width: 550px) and (max-width: 715px) {
     .header-container {
          .collapsible-menu {
               display: none;
               visibility: hidden;
          }
     }
     .header-container {
          header {
               //width: 100%;
               nav {
                    .nav-area {
                         vertical-align: top;
                         .logo {
                              width: 130px;
                              height: 50px;
                              margin-left: 20px;
                         }
                    }
               }
               .nav-area-2 {
                    margin-right: 8px;
                    .nav-link {
                         padding-right: .2rem !important;
                         padding-left: .2rem !important; 
                    }
               }
               .ml-auto {
                    a {
                         margin-right: 10px;
                         margin-left: 10px; 
                    }
               }
          }
     }     
          
} 
@media screen and (min-width: 715px) and (max-width: $tablet) {
     .collapsible-menu {
          display: none;
          visibility: hidden;
     }
     .header-container {
          header {
               width: 100%;
               nav {
                    .nav-area {
                         vertical-align: top;
                         .logo {
                              width: 100px;
                              height: 40px;
                              margin-left: 30px;
                         }
                    }
               }
               .nav-area-2 {
                    margin-right: 10px;
                    .nav-link {
                         padding-right: .1rem !important;
                         padding-left: .1rem !important; 
                    }
               }
               .ml-auto {
                    a {
                         margin-right: 8px;
                         margin-left: 8px; 
                    }
               }
          }
     }
          
} 
@media screen and (min-width: $tablet) and (max-width: $laptop) {
     .collapsible-menu {
          display: none;
          visibility: hidden;
     }
}
@media screen and (min-width: $laptop) {
     .collapsible-menu {
          display: none;
          visibility: hidden;
     }
}


.footer-container {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     .footer {
          background: url("../../src/assets/images/Group229/Group229@2x.png");
          width: 100%;
          height: 300px;
          opacity: 1;
          background-color:  #F1FEFE;
          padding-left: 100px;
          padding-right: 100px;
          padding-top: 100px;
          padding-bottom: 0px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          position: relative;
          color: #FFFFFF;
          .col-sm {
               //padding-bottom: 10px;
               margin-left: 25px;
               margin-right: 25px;
               width: 25%;
               line-height: 1.5;
               text-decoration: none;
               hr {
                    border:none;
                    color:#fff;
                    background-color:#fff;
                    height:1px;
                    width:50%;
                  }
               .social-icons a {
                    width:20px;
                    height:20px;
                    line-height:30px;
                    margin-left:2px;
                    margin-right:0;
                    border-radius:100%;
                    text-decoration: none;
                    background-color:#33353d
               }
               .social-icons {
                    padding-left:0;
                    margin-bottom:0;
                    list-style:none;
                    justify-items: left;
               }
               .social-icons li {
                    display:inline-block;
                    margin-bottom:4px;
               }
               .social-icons li.title {
                    text-transform:uppercase;
                    color:#96a2b2;
                    font-weight:700;
                    font-size:13px;
               }
               .social-icons a {
                    background-color:#eceeef;
                    color:#374B5C;
                    font-size:16px;
                    display:inline-block;
                    line-height:44px;
                    width:44px;
                    height:44px;
                    text-align:center;
                    margin-right:8px;
                    border-radius:100%;
                    -webkit-transition:all .2s linear;
                    -o-transition:all .2s linear;
                    transition:all .2s linear;
               }
               .social-icons a:active,.social-icons a:focus,.social-icons a:hover {
                    color:#fff;
                    background-color:#29aafe;
               }
               .social-icons.size-sm a {
                    line-height:34px;
                    height:34px;
                    width:34px;
                    font-size:14px;
               }
               .social-icons a.facebook:hover
               {
                    background-color:#3b5998;
               }
               .social-icons a.twitter:hover
               {
                    background-color:#00aced;
               }
               .social-icons a.linkedin:hover
               {
                    background-color:#007bb6;
               }
               .social-icons a.instagram:hover
               {
                    background-color:#ea4c89;
               }
               .footer-links {
                    padding-left:0;
                    list-style: none;
                    font-size: 14px;
                    text-align: left;
                    li
                    {
                      display:block;
                    }
                    a
                    {
                      color:whitesmoke;
                    }
                    .li
                    {
                      display: inline-block;
                    }
               }   
          }
          
     }
}
@media screen and (max-width: $mobile) {
     .footer-container {
          .footer {
               width: 100%;
               height: fit-content;
               padding-left: 30px;
               padding-right: 30px;
               padding-top: 120px;
               padding-bottom: 50px;
               .col-sm {
                    width: 80%;
                    hr {
                         margin-top: 10px;
                         margin-bottom: 10px;
                    }
                    
               }               
          }
     }
}
@media screen and (min-width: $mobile) and (max-width: $tablet) {
     .footer-container {
          .footer {
               width: 100%;
               height: fit-content;
               padding-left: 30px;
               padding-right: 0px;
               padding-top: 120px;
               padding-bottom: 50px;
               .col-sm {
                    width: 80%;
                    hr {
                         margin-top: 15px;
                         margin-bottom: 15px;
                    }
               }
          }
     }
}
@media screen and (min-width: $tablet) {
     .footer-container {
          .footer {
               height: 400px;
               //width: 100%;
               padding-left: 50px;
               padding-right: 50px;
               // display: flex;
               // flex-wrap: wrap;
               // flex-direction: column;
               
          }
     }
}
    