<!-- <mat-toolbar color="primary">
    Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{ user | json }}</p>

<form novalidate #cvvVerificationForm="ngForm" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput placeholder="Last 4 digit" type="text" [(ngModel)]="cvvForm.last4digit" name="card_numver" #last4digit="ngModel" required>
        <mat-error *ngIf="last4digit.errors?.required">Last 4 digit is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="cvv" type="text" [(ngModel)]="cvvForm.cvv" name="cvv" #cvv="ngModel" required>
        <mat-error *ngIf="cvv.errors?.required">Cvv is required</mat-error>
      </mat-form-field>
      
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="cvvVerificationForm.form.invalid">Submit</button>
  </mat-dialog-actions>
</form> -->
