


<div class="payment-details-container"> 
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div *ngIf="addressFlag">
                <h4 class="d-flex justify-content-between align-items-center mb-4">
                    <span class="text-muted">Address Summary </span>
                    <span class="badge badge-secondary badge-pill"> </span>
                </h4>
                <ul class="list-group mb-3" >
                    <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let addr of addrdetail">
                        <div>
                            <span><b>Address line 1 :</b> {{addr.addr_line1}}</span><br>
                            <span><b>Address line 2 :</b> {{addr.addr_line2}}</span><br>
                            <span><b>City :</b> {{addr.city}}</span><br>
                            <span><b>State :</b> {{addr.state}}</span><br>
                            <span><b>Country :</b> {{addr.country}}</span><br>
                            <span><b>Postal code :</b> {{addr.postal_code}}</span><br>
                            <span><b>Phone :</b> {{addr.phone}}</span><br><br>
                            <button class="btn btn-primary" (click)="change_default_Address(addr.id)">Keep Default</button>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="delete_addr(addr.id)" type="submit">Delete</button>
                        </div>                    
                    </li>                                      
                </ul>  
            </div> 
            <div *ngIf="cardFlag">
                <h4 class="d-flex justify-content-between align-items-center mb-4">
                    <span class="text-muted">Card Summary </span>
                    <span class="badge badge-secondary badge-pill"> </span>
                </h4>
                <ul class="list-group mb-3" >
                    <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let card of carddetail">
                        <div>
                            <h6><span class="badge badge-secondary">Default</span></h6>
                            <span><b>Card brand :</b> {{card.card_brand}}</span><br>
                            <span><b>Card number :</b> XXXXXXXXXXXX{{card.last4}}</span><br><br>  
                            
                            <button type="button" (click)="openForm()" class="btn btn-info btn-lg" >Verify cvv</button><br><br>
                            
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="delete_card(card.id)" type="submit">Delete</button>

                            <div *ngIf="verify_form">
                <div class="card card-login my-5">          
                    <div class="card-title text-center text-uppercase rounded">
                      <h5>Verify CVV</h5>
                    </div>
                    <div class="card-body">            
                        <form class="form-login" [formGroup]="cvvVerifyForm">  
                            

                          <label>Last 4 digit</label>               
                          <div class="form-label-group">                
                              <input type="text" id="inputlast4digit" class="form-control" placeholder="Card number" formControlName="last4digit" style="padding-left: 10px;" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; cvvVerifyForm.controls.last4digit.touched }" >               
                              <!--<div *ngIf="validate.card_number.invalid && validate.card_number.touched" class="alert alert-danger">
                                    <div *ngIf="validate.card_number.invalid">Card number is required</div>
                                  </div>-->
                            <label for="inputlast4digit" style="padding-left: 10px;">Card number</label>                              
                          </div>

                          <label>CVC</label>               
                          <div class="form-label-group">                
                              <input type="text" id="inputCvc" class="form-control" placeholder="CVC" formControlName="cvc" style="padding-left: 10px;" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; cvvVerifyForm.controls.cvc.touched }" >               
                              <!--<div *ngIf="validate.cvv.invalid && validate.cvv.touched" class="alert alert-danger">
                                    <div *ngIf="validate.cvv.invalid">CVV is required</div>
                                  </div>-->
                            <label for="inputCvc" style="padding-left: 10px;">CVC</label>                              
                          </div>

                          <br>

                          <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="verified(card.id)" type="submit">Verify</button>
                          

                        </form>
                    </div>          
                </div>
            </div> 

                        </div>                    
                    </li>                                      
                </ul>  
            </div>         
        </div>
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div *ngIf="addressFlag">
              <div class="card card-login my-5">          
                  <div class="card-title text-center text-uppercase rounded" >
                    <h5>Shipping Address</h5>
                  </div>
                  <div class="card-body">              
                    <form class="form-login" [formGroup]="addressDetailForm" (ngSubmit)="Submit_address()"> 

                      <label>Address line 1</label>               
                      <div class="form-label-group">                
                            <input type="text" id="inputaddr1" class="form-control" placeholder="Adddress line 1" formControlName="addr_line1" style="padding-left: 10px;" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; addressDetailForm.controls.addr_line1.touched }" >               
                            <div *ngIf="validate.addr_line1.invalid && validate.addr_line1.touched" class="alert alert-danger">
                                  <div *ngIf="validate.addr_line1.invalid">Address is required</div>
                                </div>
                          <label for="inputaddr1" style="padding-left: 10px;">Address</label>                              
                      </div>

                      <label>Address line 2</label>               
                      <div class="form-label-group">                
                          <input type="text" id="inputaddr2" class="form-control" placeholder="Adddress line 2" formControlName="addr_line2" style="padding-left: 10px;" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; addressDetailForm.controls.addr_line2.touched }" >               
                          <div *ngIf="validate.addr_line2.invalid && validate.addr_line2.touched" class="alert alert-danger">
                                <div *ngIf="validate.addr_line2.invalid">Address is required</div>
                              </div>
                        <label for="inputaddr2" style="padding-left: 10px;">Address</label>                              
                      </div>

                      <label>City</label>               
                      <div class="form-label-group">                
                          <input type="text" id="inputCity" class="form-control" placeholder="City" formControlName="city" [(ngModel)]="city" style="padding-left: 10px;" minLength="3" pattern="[a-zA-Z ]*" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; addressDetailForm.controls.city.touched }" >               
                          <div *ngIf="validate.city.invalid && validate.city.touched" class="alert alert-danger">
                                <div *ngIf="validate.city.invalid">City is required</div>                        
                          </div>
                          
                        <label for="inputCity" style="padding-left: 10px;">City</label>                              
                      </div>

                      <label>State</label>               
                      <div class="form-label-group">                
                          <input type="text" id="inputState" class="form-control" placeholder="State" formControlName="state" style="padding-left: 10px;" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; addressDetailForm.controls.state.touched }" >               
                          <div *ngIf="validate.state.invalid && validate.state.touched" class="alert alert-danger">
                                <div *ngIf="validate.state.invalid">State is required</div>
                              </div>
                        <label for="inputState" style="padding-left: 10px;">State</label>                              
                      </div>

                      <label>Country</label>               
                      <div class="form-label-group">                
                          <input type="text" id="inputCountry" class="form-control" placeholder="Country" formControlName="country" style="padding-left: 10px;" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; addressDetailForm.controls.country.touched }" >               
                          <div *ngIf="validate.country.invalid && validate.country.touched" class="alert alert-danger">
                                <div *ngIf="validate.country.invalid">Country is required</div>
                              </div>
                        <label for="inputCountry" style="padding-left: 10px;">Country</label>                              
                      </div>

                      <label>Postal code</label>               
                      <div class="form-label-group">                
                          <input type="text" id="inputPostalCode" minLength="5" maxLength="7" class="form-control" placeholder="Password" formControlName="postal_code" style="padding-left: 10px;" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; addressDetailForm.controls.postal_code.touched }" >               
                          <div *ngIf="validate.postal_code.invalid && validate.postal_code.touched" class="alert alert-danger">
                                <div *ngIf="validate.postal_code.invalid">Postal code is required</div>
                              </div>
                        <label for="inputPostalCode" style="padding-left: 10px;">Postal code</label>                              
                      </div>

                      <label>Phone number</label>               
                      <div class="form-label-group">                
                          <input type="phone" id="inputPhone" minLength="10" maxLength="10" pattern="[1-9]{1}[0-9]{9}" class="form-control" placeholder="Phone number" formControlName="phone" style="padding-left: 10px;" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; addressDetailForm.controls.phone.touched }" >               
                          <div *ngIf="validate.phone.invalid && validate.phone.touched && validate.phone.dirty" class="alert alert-danger">
                                <div *ngIf="validate.phone.invalid">Phone number is required.</div>  
                                <div *ngIf="validate.phone.minLength">Phone number must be 10 number long.</div>                                                                     
                          </div>                                          
                        <label for="inputPhone" style="padding-left: 10px;">Phone number</label>                              
                      </div>

                      <div class="form-group">
                        <input class="form-check-input" type="radio" formControlName="defaultAddress" value="true" [checked]="false" (change)="onAddrChange($event.target.value)"/>
                        <label class="form-check-label" for="defaultAddress">
                        Default Address
                      </label>                      
                      </div>
                      
                      <br>

                      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="!addressDetailForm.valid">Submit Address</button>

                    </form>
                  </div>   
              </div>
            </div>                           
            <div *ngIf="cardFlag">
                <div class="card card-login my-5">          
                    <div class="card-title text-center text-uppercase rounded">
                      <h5>Card Details</h5>
                    </div>
                    <div class="card-body">            
                        <form class="form-login" [formGroup]="cardDetailForm" (ngSubmit)="Submit_Card()">  
                            <label>Card holder</label>               
                                <div class="form-label-group">                
                                    <input type="text" id="inputCard_holder" class="form-control" placeholder="Card holder" formControlName="card_holder" style="padding-left: 10px;" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; cardDetailForm.controls.card_holder.touched }" >               
                                    <!--<div *ngIf="validate.card_holder.invalid && validate.card_holder.touched" class="alert alert-danger">
                                          <div *ngIf="validate.card_holder.invalid">Card holder is required</div>
                                    </div>-->
                                    <label for="inputCard_holder" style="padding-left: 10px;">Card holder</label>                              
                                </div>

                          <label>Card number</label>               
                          <div class="form-label-group">                
                              <input type="text" id="inputCard_number" class="form-control" placeholder="Card number" formControlName="card_number" style="padding-left: 10px;" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; cardDetailForm.controls.card_number.touched }" >               
                              <!--<div *ngIf="validate.card_number.invalid && validate.card_number.touched" class="alert alert-danger">
                                    <div *ngIf="validate.card_number.invalid">Card number is required</div>
                                  </div>-->
                            <label for="inputCard_number" style="padding-left: 10px;">Card number</label>                              
                          </div>

                          <label>CVC</label>               
                          <div class="form-label-group">                
                              <input type="text" id="inputCvc" class="form-control" placeholder="CVC" formControlName="cvc" style="padding-left: 10px;" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; cardDetailForm.controls.cvc.touched }" >               
                              <!--<div *ngIf="validate.cvv.invalid && validate.cvv.touched" class="alert alert-danger">
                                    <div *ngIf="validate.cvv.invalid">CVV is required</div>
                                  </div>-->
                            <label for="inputCvc" style="padding-left: 10px;">CVC</label>                              
                          </div>

                          <label>Expiry date</label>               
                          <div class="form-label-group">                
                              <input type="month" id="inputExpiry_date" class="form-control" placeholder="Expiry date" formControlName="exp_month" style="padding-left: 10px;" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; cardDetailForm.controls.exp_month.touched }" >               
                              <!--<div *ngIf="validate.exp_month.invalid && validate.exp_month.touched" class="alert alert-danger">
                                    <div *ngIf="validate.exp_month.invalid">Expiry_date is required</div>
                                  </div>-->
                            <label for="inputExpiry_date" style="padding-left: 10px;">Expiry date</label>                              
                          </div>

                          <div class="form-group">
                            <input class="form-check-input" type="radio" formControlName="defaultCard" value="true" [checked]="false" (change)="onCardChange($event.target.value)"/>
                            <label class="form-check-label" for="defaultCard">
                            Default Card
                          </label>                      
                          </div>

                          <br>

                          <button class="btn btn-lg btn-primary btn-block text-uppercase"  type="submit" [disabled]="!cardDetailForm.valid">Submit Card detail</button>

                        </form>
                    </div>          
                </div>
            </div>                   
        </div>
        
    </div>     
</div>







