<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="product-info-container d-flex justify-content-center">
     <div class="row" *ngFor="let product of product_data">
    
          <div class="col-sm">
               <img src="{{product.image_url}}" > 
          </div>
          <div class="col-sm">
               <div class="info">
                    <div class="card border-secondary mb-3" style="max-width: 300px; height: fit-content; margin-left: -40px; border: none;" *ngFor="let product of product_data">
                         <div class="card-header">{{product.p_name}}</div>
                              <div class="card-body text-secondary">
                              <h5 class="card-title">Price: {{product.price}}</h5>
                              <p class="card-text">{{product.description}}</p>
                              <p>{{product.product_id}}</p>
                              <form [formGroup]="productInfoForm" novalidate> 
                                   <div class="form-group">                          
                                        <label class="label" for="quantity" value="Quantity">Quantity: </label>
                                        <input  formControlName="quantity" id="input" type="number" min="1" max="5" value=1> 
                                        <br>  
                                        <br>             
                                        <button class="btn btn-outline-info" routerLink="/cart" routerLinkActive="" (click)="AddCart()"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>  
                                        <button class="btn btn-outline-info" routerLink="/checkout" routerLinkActive="" (click)="Purchase($event)"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Purchase</button> 
                                   </div>                           
                              </form>
                         </div>
                    </div>
                    <!--<h4>Product name</h4>
                    <p>Product Information Product Information Product Information Product Information Product Information</p>
                    <p>Price : $500/-</p>
                    <form>                           
                         <label class="label" for="quantity" value="Quantity">Quantity: </label>
                         <input formControlName="quantity" id="input" type="number" min="1" max="5" value=1> 
                         <br>  
                         <br>             
                         <button class="btn btn-outline-info" routerLink="/cart" routerLinkActive=""><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>                         
                    </form>-->
               </div>     
          </div>
     </div>
</div>
