<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="product-container">
     
     <div class="group-1">
          <div class="heading-product">
               <h3>Products</h3>
               <p>Feel free to fill out the form and reach to us. We will get back to you shortly.</p>
          </div>          
     </div>
     <div class="group-2">          
          <nav class="navbar navbar-expand-lg navbar-light">                   
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                         <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Dropdown
                              </a>  
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                   <form [formGroup]="productForm" (ngSubmit)="submit()" novalidate>
                                        <div class="row d-flex">                                                                                                         
                                             <div class="col-sm" >
                                                  <div *ngFor="let category of category_data">
                                                       <label>
                                                            <input type="checkbox" [value]="category.cat_name" (change)="onCheckboxChange($event)" />{{ category.cat_name }}
                                                       </label>
                                                  </div>
                                             </div> 
                                                                                                                                        
                                        </div>    
                                        <div class="dropdown-divider"></div>
                                        <button type="submit" class="btn">Apply</button>
                                   </form>     
                              </div>                                        
                         </li>                                                     
                    </ul>  
                                                            
               </div>
          </nav>
          
          <div class="row">                    
                    <div class="col-sm"  style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap;" *ngFor="let item of pageOfItems">
                         <div>
                              <div class="card-content">
                                   <div class="card-body">
                                        <a routerLink="/product-info/{{item.datas.id}}" routerLinkActive="">{{item.datas.id}}
                                             <div class="image">
                                                  <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-heart"></i></button>
                                                  <img src="{{item.datas.image_url}}" >
                                             </div>
                                             <h4>{{item.datas.p_name}}</h4> 
                                             <br>                                
                                             <p style="padding-bottom: 10px;">{{item.datas.description}}</p> 
                                             <p class="pr">Price: {{item.datas.price}} </p>
                                             <p>Discount price: {{item.datas.disscount_price}}</p>
                                        </a>                                                                  
                                   </div>  
                                   <<form [formGroup]="productForm" novalidate>  >                                                         
                                        <div class="row"> 
                                             <div class="col">                                                                               
                                             <button class="btn btn-outline-info" (click)="Direct_Cart(item.datas.id)"><i class="fa fa-shopping-cart" aria-hidden="true">cart</i></button>  
                                             </div>
                                             <div class="col">                                                                             
                                             <input #quan formControlName="quantity" id="input" type="number" min="1" max="5" value=1>    
                                             </div>                                         
                                        </div>    
                                   </form>                                       
                              </div>
                         </div>
                    </div>
                    
          </div>
          
     </div>
        
</div>
<!--<div *ngFor="let item of pageOfItems">
            {{item.datas.p_name}}</div>-->
<app-product-pagination (changePage)="onChangePage($event)" > </app-product-pagination>
