<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="product-container">
     
     <div class="group-1">
          <div class="heading-product">
               <h3>Products</h3>
               <p>Feel free to fill out the form and reach to us. We will get back to you shortly.</p>
          </div>          
     </div>
     <div class="group-2">          
          <nav class="navbar navbar-expand-lg navbar-light">                   
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse 
               " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto d-flex justify-content-center">                         
                         <li class="nav-item dropdown">
                              <div class="form-group">
                                   <select class="custom-select" (change)="onCategorySelect($event)">
                                        <option selected>Catogory</option>
                                        <option *ngFor="let category of category_data" [value]="category.cat_name">
                                             {{category.cat_name | titlecase}} </option>
                                   </select>
                              </div>                                                          
                         </li>
                         <li class="nav-item dropdown">
                              <div class="form-group">
                                   <select class="custom-select" (change)="onPriceSelect($event)">
                                   
                                        <option selected>Price </option>
                                        <option *ngFor="let price of price_data" [value]="price.price_filter_name" >
                                             {{price.price_filter_name | titlecase}} </option>
                                   </select>
                              </div>
                         </li>                                                     
                    </ul> 
                    <form class="form-inline my-2 my-lg-0 d-flex justify-content-end" [formGroup]="searchForm" (ngSubmit)="searchFilter($event)">
                         <input class="form-control mr-sm-2" type="search" formControlName="search" placeholder="Search" aria-label="Search">

                         <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form> 
                                                            
               </div>
          </nav>
          
          <div class="row">                    
                    <div class="col-sm"  style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap;" *ngFor="let item of pageOfItems">
                         <div>
                              <div class="card-content">
                                   <div class="card-body">
                                        <a routerLink="/product-info/{{item.datas.id}}" routerLinkActive="">{{item.datas.id}}
                                             <div class="image">
                                                  <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-heart"></i></button>
                                                  <img src="{{item.datas.image_url}}" >
                                             </div>
                                             <h4>{{item.datas.p_name}}</h4> 
                                             <br>                                
                                             <p style="padding-bottom: 10px;">{{item.datas.description}}</p> 
                                             <p class="pr">Price: {{item.datas.price}} </p>
                                             <p>Discount price: {{item.datas.disscount_price}}</p>
                                        </a>                                                                  
                                   </div>  
                                   <form>                                                           
                                        <div class="row"> 
                                                                                                                      
                                             <button class="btn btn-outline-info text-left" (click)="Direct_Cart(item.datas.id)"><i class="fa fa-shopping-cart" aria-hidden="true">cart</i></button>  
                                                                                                                      
                                             <input #qty [ngModel]="qunty_model" (ngModelChange)="valueChange($event)" class="text-right" id="input" name="quantity" type="number" min="1" value="1">    
                                                                                    
                                        </div>    
                                   </form>                                     
                              </div>
                         </div>
                    </div>
                    
          </div>
          
     </div>
        
</div>

<app-product-pagination class="d-flex justify-content-center" [category_name]="category_name" [price_name]="price_name" [search_string]="search_string" (changePage)="onChangePage($event)" > </app-product-pagination>
