$laptop: 992px;
$tablet: 768px;
$mobile: 480px;
.product-container {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     justify-items: center;
     align-content: center;
     align-items: center;
     //background-size: cover;
}
.group-1 {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;;
     width: 100%;
     padding-bottom: 50px;  
     margin-top: 50px; 
     .heading-product {
          padding-top: 0;
          text-align: center;
          padding-top: 0%;
          margin: auto; 
          width: 80%;
          padding-left: 20%;
          padding-right: 20%;
          text-align: center;
          align-items: center;
          align-content: center;
          vertical-align: center;           
          h3 {
               color: #4A4A4A;
               font: normal normal 900 Roboto;
               font-size: 25px; 
          }
          p{
               color: #4A4A4A;
               font: normal normal normal Roboto;
               font-size: 14px;
               text-align: center;
          }
     }                                                   
}
.group-2 {
     width: 100%;
     padding-bottom: 50px;  
     margin-top: 0px;
     .row {
          background-position: center;
          margin: auto;
          justify-content: center;
          justify-items: center;
          align-items: center;             
          margin-bottom: auto;
          align-content: center;
          padding-bottom: 10px;
          width: 70%;
               .col-sm {
                    width: 300px;
                    height: fit-content;
                    padding-left: 0;
                    padding-right: 0;
                    justify-content: center;
                    .card-content {
                         width: 300px;
                         .card-body {  
                              width: 300px;                            
                              border: none;
                              border-radius: 0px;
                              align-content: center;
                              text-align: center;
                              margin: 0 0;
                              a {
                                   .btn-circle {
                                        width: 40px;
                                        height: 40px;
                                        text-align: center;
                                        padding: 3px 3px;
                                        font-size: 24px;
                                        line-height: 1.428571429;
                                        border-radius: 15px;
                                        margin-left: 200px;
                                        margin-bottom: -70px;
                                        background-color: #ffffff;
                                        border-color: red;
                                        
                                   }
                                   .btn-circle:hover {
                                        background-color: #e04d65;
                                        color:#e04d65;
                                   }
                                   
                                   text-decoration: none;
                                   .image {

                                        img {
                                             padding-bottom: 20px;
                                             max-width: 250px;
                                             max-height: 250px;
                                             width: auto;
                                             height: auto;
                                        }  
                                   }
                                   
                                   h4 {
                                        line-height: 2px;
                                        color: #00DBD0;                                       
                                   }                                
                                   p {
                                        line-height: normal;
                                        font-size: 14px;
                                        font: normal normal normal Roboto;
                                        color: black;
                                        .pr {
                                             text-decoration: line-through;
                                        }
                                   }     
                              }                        
                         }
                         .btn-outline-info {
                              border-radius: 10px;
                              border-color: #00DBD0;
                              font: normal normal normal 16px/20px Libre Baskerville;
                              letter-spacing: 0px;
                              color: #00DBD0;
                              opacity: 1;
                              text-align: left;
                              margin-left: 10px;
                         }  
                         form {
                              input {
                                   width: 50px;
                                   border-color: #00DBD0;
                                   border-radius: 10px;
                                   height: 33px;
                                   text-align: center;
                              }
                              label {
                                   font: normal normal normal 14px/30px Libre Baskerville;
                                   text-align: right;
                                   margin-left: 100px;
                              }
                         }                      
                    }                              
               }
          }        
}     
@media screen and (max-width: $mobile) {
     .group-1 {
          width: 100%;
          padding-bottom: 50px;
          .heading-product {
               padding-left: 30px;
               padding-right: 30px;
          }
     }
}
@media screen and (min-width: $mobile) and (max-width: 570px) { 
     .group-1 {
          width: 100%;
          padding-bottom: 50px;
          .heading-product {
               padding-left: 40px;
               padding-right: 40px;
          }
          
     }
     .group-2 {
          width: 100%;
          .row {
               width: 80%;
          }
     }
}
@media screen and (min-width: 570px) and (max-width: $tablet) {
     .group-1 {
          width: 100%;
          padding-bottom: 50px;
          .heading-product {
               padding-left: 50px;
               padding-right: 50px;
          }
          
     }
     .group-2 {
          width: 100%;
          .row {
               width: 80%;
               display: flex;
               flex-wrap: wrap;
               flex-direction: column;
               .col-sm {
                    width: 300px;
                    height: fit-content;
                    justify-content: center;
                    align-content: center;
                    .card-content {
                         .card-body {
                              width: 300px;
                         }
                    }
               }          
          }
     }
}
@media screen and (min-width: $tablet) and (max-width: 870px) {
     .group-1 {
          width: 100%;
          padding-bottom: 50px;
          .heading-product {
               padding-left: 60px;
               padding-right: 60px;
          }
          
     }
     .group-2 {
          .row {
               width: 80%;
               .col-sm {
                    width: 300px;
                    height: fit-content;
                    justify-content: center;
                    align-content: center;
                    .card-content {
                         .card-body {
                              width: 300px;
                         }
                    }
               }          
          }
     }
}  
@media screen and (min-width: 870px) and (max-width: 1000px) {
     .group-1 {
          width: 100%;
          padding-bottom: 50px;
          .heading-product {
               padding-left: 80px;
               padding-right: 80px;
          }
          
     }
     .group-2 {
          .row {
               .col-sm {
                    width: 300px;
                    height: fit-content;
                    justify-content: center;
                    align-content: center;
                    .card-content {
                         .card-body {
                              width: 300px;
                         }
                    }
               }          
          }
     }
}
@media screen and (min-width: 1000px) and (max-width: 1280px) {
     .group-1 {
          width: 80%;
          padding-bottom: 50px;
          .heading-product {
               padding-left: 15%;
               padding-right: 15%;
          }
          
     }
     .group-2 {
          .row {
               .col-sm {
                    width: 280px;
                    height: fit-content;
                    justify-content: center;
                    align-content: center;
                    .card-content {
                         width: 280px;
                         .card-body {
                              width: 280px;
                         }
                    }
               }          
          }
     }
}


nav {
    .navbar-collapse {       
         ul {             
              li {
                   .dropdown-menu {
                        width: 900px;
                        height: fit-content;
                        padding: 30px;
                        button, .btn {
                              margin-left: 750px;
                              margin-top: 15px;
                              border-radius: 5px;
                              border-color: #00DBD0;
                              text-align: center;
                              font: normal normal normal 16px/20px Libre Baskerville;
                              letter-spacing: 0px;
                              color: #00DBD0;
                              opacity: 1;
                              margin-right: 20px;
                         }
                   }
              }
         }
    }
}
.navbar {
     margin-left: 15%;
     margin-right: 15%;
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
     nav {         
          .navbar-collapse {               
               ul {                   
                    li {
                         .dropdown-menu {
                              width: 800px;
                              padding: 25px;
                             
                              button, .btn {
                                   margin-left: 650px;
                                   margin-top: 10px;
                                   margin-right: 15px; 
                              }
                         }
                    }
               }
          }
     }
     .navbar {
          margin-left: 10%;
          margin-right: 10%;
     }
}


@media screen and (min-width: 800px) and (max-width: 900px) {
     nav {
          .navbar-collapse {
               
               ul {
                    
                    li {
                         .dropdown-menu {
                              width: 700px;
                              padding: 20px;
                              button, .btn {
                                   margin-left: 600px;
                                   margin-top: 10px;
                                   margin-right: 10px; 
                              }
                         }
                    }
               }
          }
     }
     .navbar {
          margin-left: 10%;
          margin-right: 10%;
     }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
     nav {
          .navbar-collapse {
               
               ul {
                    
                    li {
                         .dropdown-menu {
                              width: 600px;
                              padding: 20px;
                              button, .btn {
                                   margin-left: 500px;
                                   margin-top: 10px;
                                   margin-right: 10px; 
                              }
                         }
                    }
               }
          }
     }
     .navbar {
          margin-left: 10%;
          margin-right: 10%;
     }
}
@media screen and (min-width: 550px) and (max-width: 700px) {
     nav {
          .navbar-collapse {
               
               ul {
                    
                    li {
                         .dropdown-menu {
                              width: 490px;
                              padding: 15px;
                              button, .btn {
                                   margin-left: 350px;
                                   margin-top: 10px;
                                   margin-right: 10px; 
                              }
                         }
                    }
               }
          }
     }
     .navbar {
          margin-left: 10%;
          margin-right: 10%;
     }
}
@media screen and (min-width: 480px) and (max-width: 550px) {
     nav {
          .navbar-collapse {
               
               ul {
                    
                    li {
                         .dropdown-menu {
                              width: 400px;
                              padding: 20px;
                              button, .btn {
                                   margin-left: 300px;
                                   margin-top: 10px;
                                   margin-right: 10px; 
                              }
                         }
                    }
               }
          }
     }
     .navbar {
          margin-left: 10%;
          margin-right: 10%;
     }
}
@media screen and (max-width: 480px) {
     nav {
          .navbar-collapse {
               
               ul {
                    
                    li {
                         .dropdown-menu {
                              width: 400px;
                              padding: 15px;
                              button, .btn {
                                   margin-left: 270px;
                                   margin-top: 10px;
                                   margin-right: 10px; 
                              }
                         }
                    }
               }
          }
     }
     .navbar {
          margin-left: 5%;
          margin-right: 5%;
     }
}


