<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="blog-container">
     <div class="group-1">
          <div class="heading-blog">
               <h3>Our Blog</h3>
               <p>Feel free to fill out the form and reach to us. We will get back to you shortly.</p>
          </div>         
     </div>
     <div class="group-2">
          <div class="row">                    
               <div class="col-sm" style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap; ">
                    <div>
                         <div class="card-content">
                              <div class="card-body">
                                   <img src="../../assets/Homepage/MaskGroup6.png" > 
                                   <h4>Blog Post One</h4> 
                                   <br>                                
                                   <p style="padding-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p> 
                                   <p style="padding-bottom: 10px;">Read More</p> 
                                   <hr>                                                            
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-sm" style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap; ">
                    <div >
                         <div class="card-content">
                              <div class="card-body">
                                   <img src="../../assets/Homepage/MaskGroup6-1.png" >
                                   <h4>Blog Post one</h4>  
                                    <br>                            
                                   <p style="padding-bottom: 10px;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                                   <p style="padding-bottom: 10px;">Read More</p>  
                                   <hr>                            
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-sm" style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap; ">
                    <div >
                         <div class="card-content">
                              <div class="card-body">
                                   <img src="../../assets/Homepage/MaskGroup6-2.png" >   
                                   <h4>Blog Post One</h4>
                                   <br>                         
                                   <p style="padding-bottom: 10px;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p> 
                                   <p style="padding-bottom: 10px;">Read More</p> 
                                   <hr>                             
                              </div>
                         </div>
                    </div>
               </div>                                   
          </div>
          <div class="row">                    
               <div class="col-sm" style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap; ">
                    <div>
                         <div class="card-content">
                              <div class="card-body">
                                   <img src="../../assets/Homepage/MaskGroup6.png" > 
                                   <h4>Blog Post One</h4> 
                                   <br>                                
                                   <p style="padding-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p> 
                                   <p style="padding-bottom: 10px;">Read More</p> 
                                   <hr>                                                            
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-sm" style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap; ">
                    <div >
                         <div class="card-content">
                              <div class="card-body">
                                   <img src="../../assets/Homepage/MaskGroup6-1.png" >
                                   <h4>Blog Post One</h4>  
                                    <br>                            
                                   <p style="padding-bottom: 10px;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                                   <p style="padding-bottom: 10px;">Read More</p>  
                                   <hr>                            
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-sm" style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap; ">
                    <div >
                         <div class="card-content">
                              <div class="card-body">
                                   <img src="../../assets/Homepage/MaskGroup6-2.png" >   
                                   <h4>Blog Post One</h4>
                                   <br>                         
                                   <p style="padding-bottom: 10px;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p> 
                                   <p style="padding-bottom: 10px;">Read More</p> 
                                   <hr>                             
                              </div>
                         </div>
                    </div>
               </div>                                   
          </div> 
     </div>
</div>
