<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
<div class="home-container">
     <div class="group-1">          
               <div class="first-section">
                    <h4>Healthy life with</h4>
                    <h1>Nature Organic</h1>
                    <p>Vegetables are the edible parts of a plant that is used in cooking or can be eaten now.</p>
                    <br>
                    <button class="btn btn-outline-light text">Explore Now</button>
               </div>
                             
               <img class="first-section-img" src="../../assets/Group248@2x.png" >                   
     </div>
     <div class="group-2">
          <div class="heading-wc-card">
               <img src="../../assets/Group114.png" >
               <h3>Welcome to Nature</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>         
          <div class="card-section">
               <div class="row">
                    <div class="col-sm item-1">
                         <div class="card">
                              <img src="../../assets/Group119.png" >
                              <h4>Organic Food</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur</p>
                         </div>
                    </div>
                    <div class="col-sm item-2">
                         <div class="card">
                              <img src="../../assets/Group119/Group119.png" >
                              <h4>Organic Food</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur</p>
                         </div>
                    </div>
                    <div class="col-sm item-3">
                         <div class="card">
                              <img src="../../assets/Group119.png" >
                              <h4>Organic Food</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur</p>
                         </div>
                    </div>
                    <div class="col-sm item-4">
                         <div class="card">
                              <img src="../../assets/Group119.png" >
                              <h4>Organic Food</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur</p>
                         </div>
                    </div>  
               </div>
          </div>                  
     </div> 
     <div class="group-3">
          <div class="heading-slider">
               <h3>Proudly presented by</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div id="img-slider" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators" style="margin-bottom: -70px;">
                    <li data-target="#img-slider" data-slide-to="0" class="active" ></li>
                    <li data-target="#img-slider" data-slide-to="1"></li>
                    <li data-target="#img-slider" data-slide-to="2"></li>
                    <li data-target="#img-slider" data-slide-to="3"></li>
               </ol>  

               <div class="carousel-inner" style="display: flex;" >
                    <div class="carousel-item active" >
                         <div class="img-class">
                              <div class="row">
                                   <div class="col-sm">
                                        <img src="../../assets/Group39.png" alt="">
                                   </div>
                                   <div class="col-sm">
                                        <img src="../../assets/Group64.png" alt="">
                                   </div>
                                   <div class="col-sm ">
                                        <img class="middle-img" src="../../assets/Group55.png" alt="">
                                   </div>
                                   <div class="col-sm">
                                        <img src="../../assets/Group64.png" alt="">
                                   </div>
                                   <div class="col-sm">
                                        <img src="../../assets/Group39.png" alt="">
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="carousel-item" >
                         <div class="img-class">
                              <div class="row">
                                   <div class="col-sm">
                                        <img src="../../assets/Group39.png" alt="">
                                   </div>
                                   <div class="col-sm">
                                        <img src="../../assets/Group64.png" alt="">
                                   </div>
                                   <div class="col-sm ">
                                        <img class="middle-img" src="../../assets/Group55.png" alt="">
                                   </div>
                                   <div class="col-sm">
                                        <img src="../../assets/Group64.png" alt="">
                                   </div>
                                   <div class="col-sm">
                                        <img src="../../assets/Group39.png" alt="">
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="carousel-item" >
                         <div class="img-class">
                              <div class="row">
                                   <div class="col-sm">
                                        <img src="../../assets/Group39.png" alt="">
                                   </div>
                                   <div class="col-sm">
                                        <img src="../../assets/Group64.png" alt="">
                                   </div>
                                   <div class="col-sm ">
                                        <img class="middle-img" src="../../assets/Group55.png" alt="">
                                   </div>
                                   <div class="col-sm">
                                        <img src="../../assets/Group64.png" alt="">
                                   </div>
                                   <div class="col-sm">
                                        <img src="../../assets/Group39.png" alt="">
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="carousel-item" >
                         <div class="img-class">
                              <div class="row">
                                   <div class="col-sm">
                                        <img src="../../assets/Group39.png" alt="">
                                   </div>
                                   <div class="col-sm">
                                        <img src="../../assets/Group64.png" alt="">
                                   </div>
                                   <div class="col-sm ">
                                        <img class="middle-img" src="../../assets/Group55.png" alt="">
                                   </div>
                                   <div class="col-sm">
                                        <img src="../../assets/Group64.png" alt="">
                                   </div>
                                   <div class="col-sm">
                                        <img src="../../assets/Group39.png" alt="">
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div> 
     <div class="group-4">
          <img class="left-img" src="../../assets/Group249.png" >
          <img class="right-img" src="../../assets/Group196.png" >          
          <div id="comment-slider" class="carousel slider" data-ride="carousel">
               <ol class="carousel-indicators" style="margin-bottom: -40px;">
                    <li data-target="#comment-slider" data-slider-to="0" class="active"></li>
                    <li data-target="#comment-slider" data-slider-to="1" ></li>
                    <li data-target="#comment-slider" data-slider-to="2" ></li>
                    <li data-target="#comment-slider" data-slider-to="3" ></li>
               </ol>

               <div class="carousel-inner">                         
                    <div class="carousel-item active">
                         <div class="cmnt-class">
                              <div class="cmnt-data">
                                   <img class="comma-img" src="../../assets/Group86.png" >
                                   <br>
                                   <img class="p-img" src="../../assets/MaskGroup1/MaskGroup1.png" alt="">
                                   <br>
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <h3>Jane Doe</h3>
                                   <p>Thank you for all the amazing produce and products you deliver each week… you make my life so easy an bring goodness into our family eating. I’ve been roasting a lot of brussel sprouts and</p>
                              </div>
                         </div>
                    </div>
                    <div class="carousel-item">
                         <div class="cmnt-class">
                              <div class="cmnt-data">
                                   <img class="comma-img" src="../../assets/Group86.png" >
                                   <br>
                                   <img class="p-img" src="../../assets/MaskGroup1/MaskGroup1.png" alt="">
                                   <br>
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <h3>John</h3>
                                   <p>Thank you for all the amazing produce and products you deliver each week… you make my life so easy an bring goodness into our family eating. I’ve been roasting a lot of brussel sprouts and</p>
                              </div>
                         </div>
                    </div>
                    <div class="carousel-item">
                         <div class="cmnt-class">
                              <div class="cmnt-data">
                                   <img class="comma-img" src="../../assets/Group86.png" >
                                   <br>
                                   <img class="p-img" src="../../assets/MaskGroup1/MaskGroup1.png" alt="">
                                   <br>
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <h3>Jane Rao</h3>
                                   <p>Thank you for all the amazing produce and products you deliver each week… you make my life so easy an bring goodness into our family eating. I’ve been roasting a lot of brussel sprouts and</p>
                              </div>
                         </div>
                    </div>
                    <div class="carousel-item">
                         <div class="cmnt-class">
                              <div class="cmnt-data">
                                   <img class="comma-img" src="../../assets/Group86.png" >
                                   <br>
                                   <img class="p-img" src="../../assets/MaskGroup1/MaskGroup1.png" alt="">
                                   <br>
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <img class="rating" src="../../assets/Group81.png" alt="" >
                                   <h3>Tom Doe</h3>
                                   <p>Thank you for all the amazing produce and products you deliver each week… you make my life so easy an bring goodness into our family eating. I’ve been roasting a lot of brussel sprouts and</p>
                              </div>
                         </div>
                    </div>                         
               </div>
          </div>
     </div> 
     <div class="group-5">
          <div class="heading-subscribe">
               <h3>Subscribe to Our Newsletter</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
               <br>
               <div class="input-mail">
                    <input type="text" class="form-control" placeholder="Enter your email address" value>
                    <button class="input-btn btn btn-outline-light text">Subscribe</button>
               </div>   
          </div>
          
          
     </div>
     <div class="group-6">
          <div class="heading-blog">
               <img src="../../assets/Group114.png" >
               <h3>Read Our Blog</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>          
          <div class="row" style="display: flex; flex-wrap: wrap; wrap-direction: row;">                    
               <div class="col-sm"  style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap; ">
                    <div>
                         <div class="card-content">
                              <div class="card-body">
                                   <img src="../../assets/Homepage/MaskGroup6.png" > 
                                   <h4>Blog Post One</h4> 
                                   <br>                                
                                   <p style="padding-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p> 
                                   <p style="padding-bottom: 10px;">Read More</p> 
                                   <hr>                                                            
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-sm" style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap;">
                    <div >
                         <div class="card-content">
                              <div class="card-body">
                                   <img src="../../assets/Homepage/MaskGroup6-1.png" >
                                   <h4>Blog Post One</h4>  
                                    <br>                            
                                   <p style="padding-bottom: 10px;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                                   <p style="padding-bottom: 10px;">Read More</p>  
                                   <hr>                            
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-sm"  style="align-item: center; display: flex; flex-direction: row; flex-wrap: wrap; ">
                    <div >
                         <div class="card-content">
                              <div class="card-body">
                                   <img src="../../assets/Homepage/MaskGroup6-2.png" >   
                                   <h4>Blog Post One</h4>
                                   <br>                         
                                   <p style="padding-bottom: 10px;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p> 
                                   <p style="padding-bottom: 10px;">Read More</p> 
                                   <hr>                             
                              </div>
                         </div>
                    </div>
               </div>                                   
          </div>              
     </div>
</div>

