<div class="forget-pwd-container">
     
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-forget-pwd my-5">
        <div class="card-title text-center text-uppercase rounded"><h5>forget password</h5></div>
          <div class="card-body">
            
            <form class="form-forget-pwd">
            <label>Email Address</label>
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail"></label>
              </div>
              
               

              
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
              
              
            </form>
          </div>
        </div>
      </div>
    </div>
  
</div>
