<div class="forget-password">
     <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-forget-pwd my-5">          
          <div class="card-title text-center rounded text-uppercase"><h5>Forget Password</h5></div>
          <text>Please enter your email address. You will receive a link to create a new password via email.</text>
          <div class="card-body">
            <form class="form-forget-pwd">
              <text>Email address</text>
              <div class="form-label-group">             
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail"></label>
              </div>
              

              
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button> 
                         
            </form>
          </div>
        </div>
      </div>
     </div>
</div>
