<div class="register-container">
     
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-register my-5">
        <div class="card-title text-center text-uppercase rounded"><h5>register</h5></div>
          <div class="card-body">
            
            <form class="form-register" [formGroup]="signupForm">
            <label>First Name</label>
              <div class="form-label-group">
                <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" formControlName="firstname" required autofocus style="padding-left: 10px;">
                <label for="inputFirstName" style="padding-left: 10px;">First Name</label>
              </div>

            <label>Last Name</label>
              <div class="form-label-group">
                <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" formControlName="lastname" required autofocus style="padding-left: 10px;">
                <label for="inputLastName" style="padding-left: 10px;">Last Name</label>
              </div>

            <label>Email Address</label>
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email" required autofocus style="padding-left: 10px;">
                <label for="inputEmail" style="padding-left: 10px;">Email address</label>
              </div>
              
               <label>Password</label>
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required style="padding-left: 10px;">
                <label for="inputPassword" style="padding-left: 10px;">Password</label>                
              </div>

              <label>Confirm Password</label>
              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" formControlName="confirmpassword" required style="padding-left: 10px;">
                <label for="inputConfirmPassword" style="padding-left: 10px;">Confirm password</label>
                
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="Submit()">register</button>
              <div class="login">
					Already have an account? <a routerLink="/login" routerLinkActive="">Login</a>
				</div>
                    
              
            </form>
          </div>
        </div>
      </div>
    </div>
  
</div>
