<div class="register-container">
     
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-register my-5">
        <div class="card-title text-center text-uppercase rounded"><h5>register</h5></div>
          <div class="card-body">
            
            <form class="form-register" [formGroup]="signupForm">
            <label>First Name</label>
              <div class="form-label-group">
                <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" formControlName="firstname" required autofocus [ngClass]="{ 'is-invalid': submitted &amp;&amp; signupForm.controls.firstname.touched }" />
                  <div *ngIf="validate.firstname.invalid && validate.firstname.touched" class="alert alert-danger">
                        <div *ngIf="validate.firstname.invalid">Firstname is required</div>
                      </div>
                <label for="inputFirstName">First Name</label>
              </div>

            <label>Last Name</label>
              <div class="form-label-group">
                <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" formControlName="lastname" required autofocus [ngClass]="{ 'is-invalid': submitted &amp;&amp; signupForm.controls.lastname.touched }" />
                  <div *ngIf="validate.lastname.invalid && validate.lastname.touched" class="alert alert-danger">
                        <div *ngIf="validate.lastname.invalid">Lastname is required</div>
                      </div>
                <label for="inputLastName">Last Name</label>
              </div>

            <label>Email Address</label>
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email" required autofocus [ngClass]="{ 'is-invalid': submitted &amp;&amp; signupForm.controls.email.touched }" />
                  <div *ngIf="validate.email.invalid && validate.email.touched" class="alert alert-danger">
                        <div *ngIf="validate.email.invalid">Email is required</div>
                      </div>
                <label for="inputEmail">Email address</label>
              </div>
              
               <label>Password</label>
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; signupForm.controls.password.touched }" />
                  <div *ngIf="validate.password.invalid && validate.password.touched" class="alert alert-danger">
                        <div *ngIf="validate.password.errors.required">Password is required</div>
                        <div *ngIf="validate.password.errors.minlength">Must be at least 6 characters</div>
                      </div>
                <label for="inputPassword" >Password</label>                
              </div>

              <label>Confirm Password</label>
              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" formControlName="confirmpassword" required [ngClass]="{ 'is-invalid': submitted &amp;&amp; signupForm.controls.confirmpassword.touched }" />
                  <div *ngIf="validate.confirmpassword.invalid && validate.confirmpassword.touched" class="alert alert-danger">
                        <div *ngIf="validate.confirmpassword.errors.required">Confirmpassword is required</div>
                      <div *ngIf="validate.confirmpassword.errors.mustMatch">Password and Confirmpassword must be match.</div>
                  </div>
                <label for="inputConfirmPassword">Confirm password</label>
                
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="Submit()" [disabled]="!signupForm.valid">register</button>
              <div class="login">
					Already have an account? <a routerLink="/login" routerLinkActive="">Login</a>
				</div>
                    
              
            </form>
          </div>
        </div>
      </div>
    </div>
  
</div>
